@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  color: #797979;
}

input {
  color: #525252;
}

.color-sushe-dg {
  color: #213e23;
}

.color-sushe-lg {
  color: #aad688;
}

.color-sushe-mg {
  color: #5ea758;
}

.bg-sushe-dg {
  background-color: #213e23;
}

.bg-sushe-lg {
  background-color: #aad688;
}

.bg-sushe-mg {
  background-color: #5ea758;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-image {
  animation: spin 40s linear infinite;
  z-index: -1;
}
